{% extends 'base.html' %}
{% load static %}
{% block title %}Vitali Mueller | About Me{% endblock title %}
{% block content %}

<section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">About Us</h1>
                            <p>Why you will love to work with me.</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>


<section id="about-company" class="padding-top wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="400ms" style="visibility: visible; animation-duration: 400ms; animation-delay: 400ms; animation-name: fadeInUp;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <img src="{% static 'vitali/images/aboutus/1.jpg' %}" class="margin-bottom" alt="">
                    <h1 class="margin-bottom">About Me</h1>
                    <p class="lead">I am a Python Software Engineer specialised developing intelligent Back End Systems.<br>
                    I have a Bachelor Degree from Germany in Mechanical Engineering where I gained strong Logical and Mathematical Background.<br/>
                    I have also a Master Degree in Computer Science from Heriot-Watt University in Edinburgh. Where I gained strong Object Oriented
                    Programming skills in Java, C# and Python. <br/>I received also a Machine Learning certificate from Stanford University.</p>
                </div>
            </div>
        </div>
</section>


<section class="padding-top text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title">Technologies & Skills</h1>
            </div>
        </div>
    </div>
</section>


<section id="company-information" class="padding-top" style="padding-bottom: 100px !important;">
        <div class="container">
            <div class="row">
                <div class="about-us">
                    <div class="col-sm-7 wow fadeInLeft animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInLeft;">
                        <h2 class="bold">Software Skills</h2>
                        <div class="row">
                            <div class="col-sm-5">
                                <img src="{% static 'vitali/images/aboutus/6.png' %}" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 wow fadeInRight animated" data-wow-duration="1000ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInRight;">
                        <div class="our-skills">
                            <h2 class="bold">Skills</h2>
                            <div class="single-skill">
                                <h3>Python</h3>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" data-transition="85" style="width: 85%;">85%</div>
                                </div>
                            </div>
                             <div class="single-skill">
                                <h3>Django</h3>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" data-transition="80" style="width: 80%;">80%</div>
                                </div>
                            </div>
                             <div class="single-skill">
                                <h3>Bootstrap</h3>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" data-transition="70" style="width: 70%;">70%</div>
                                </div>
                            </div>
                            <div class="single-skill">
                                <h3>Machine Learning</h3>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" data-transition=75" style="width: 75%;">75%</div>
                                </div>
                            </div>
                            <div class="single-skill">
                                <h3>Java Script</h3>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" data-transition="60" style="width: 60%;">60%</div>
                                </div>
                            </div>
                             <div class="single-skill">
                                <h3>Java</h3>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" data-transition="50" style="width: 50%;">50%</div>
                                </div>
                            </div>
                            
                            <div class="single-skill">
                                <h3>HTML</h3>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" data-transition="80" style="width: 80%;">80%</div>
                                </div>
                            </div>
                            <div class="single-skill">
                                <h3>CSS</h3>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" data-transition="90" style="width: 90%;">90%</div>
                                </div>
                            </div>
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


{% endblock content %}