<div class="portfolio-items isotope" style="height: 2528px; overflow: hidden; position: relative;">
                    <div class="col-sm-6 portfolio-item branded logos isotope-item" style="left: 0px; top: 0px; position: absolute; transform: translate3d(0px, 0px, 0px);">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img class="img-responsive" alt="" src="images/portfolio/17.jpg">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="images/portfolio/17.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info">
                                <h2>Sailing Vivamus</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 portfolio-item mockup folio isotope-item" style="left: 0px; top: 0px; position: absolute; transform: translate3d(580px, 0px, 0px);">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img class="img-responsive" alt="" src="images/portfolio/18.jpg">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="images/portfolio/18.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info">
                                <h2>Sailing Vivamus</h2>
                            </div>
                        </div>
                    </div>
                </div>