{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

 <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Contact US</h1>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section id="map-section">
        <div class="container">
            <div id="gmap"></div>
        </div>
    </section> <!--/#map-section-->  
<div class="container" style="padding-bottom: 60px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-2 col-sm-12">
            <form method='post' action="">{% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Send" class="btn btn-lg btn-primary" />
            </form>
        </div>
        
        
         <div class="col-md-4 col-sm-12">
                    <div class="contact-info bottom">
                        <h2>Contacts</h2>
                        <address>
                        E-mail: <a href="mailto:hello@vitalimueller.com">hello@vitalimueller.com</a> <br> 
                        Phone: +44 (0) 759 3136 265 <br> 
                        </address>

                        <h2>Address</h2>
                        <address>
                        Hammersmith<br> 
                        London, W60AA <br> 
                        United Kingdom <br> 
                        </address>
                    </div>
        </div>
        
        
    </div>
</div>


    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="{% static 'vitali/js/gmaps.js' %}"></script>
{% endblock content %}