{% extends 'base.html' %}


{% block content %}
<body>
     <section id="coming-soon">        
         <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">                    
                    <div class="text-center coming-content">
                        <h1>THANK YOU FOR YOUR MESSAGE</h1>
                        <p>I will try to answer your Question as soon as possible. You can also reach me or follow me on Social Media</p>                           
                        <div class="social-link">
                            <span><a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></span>
                            <span><a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></span>
                            <span><a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></span>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>       
    </section>
    <section id="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2><i class="fa fa-envelope-o"></i> SUBSCRIBE TO OUR NEWSLETTER</h2>
                            <p>I will release constantly new Projects build with Python/Django on my Website, if you like to follow me please subscribe to my Newsletter. Thank You!</p>
                        </div>
                        <div class="col-sm-6 newsletter" style="padding-top: 22px !important">
                            <form method="post" action="">{% csrf_token %}                                
                                   <div class="form-group form-group">
                                        <div class="input-group">
                                        <input name="email" class="form-control" type="email" placeholder="Your email...">
                                          <span class="input-group-btn">
                                        <input class="btn btn-primary btn-lg" type="submit" value="Join">
                                        </span>
                                       </div>
                                   </div>
                            </form>
                            <p>Don't worry I will not use your email for spam</p>
                        </div>    
                    </div>
                </div>     
            </div>
        </div> 
    </section>

    <section id="coming-soon-footer" class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <p>&copy; Your Company 2015. All Rights Reserved.</p>
                    <p>Designed by <a target="_blank" href="http://www.vitalimueller.com">Vitali Mueller</a></p>
                </div>
            </div>
        </div>       
    </section>
    

    
</body>


{% endblock content %}