{% extends 'base.html' %}
{% load static %}


{% block content %}
<style>

.divider {
	
	padding-top: 60px !important;
	
	}	
	
</style>

<div class="container">
<div class="row">
	<div class="col-sm-2 text-center">
		<h2><strong>Options</strong></h2>
		<hr/>
		<br/>
		<a href="{% url 'sent_list' %}"><img src="{% static 'vitali/images/portfolio/5.jpg' %}" />
		<a href="{{ object.get_absolute_url }}update/"><img src="{% static 'vitali/images/portfolio/update.jpg' %}" />
		<a href="{{ object.get_absolute_url }}delete/"><img src="{% static 'vitali/images/portfolio/del.jpg' %}" />
	</div>
	<div class="col-sm-7 text-center">
		<h2><strong>Top 5 Frequent used Words</strong></h2>
		<hr/>
		<br/>
		<div id="hc_container" style="width:100%; height:400px;"></div>
	</div>
	<div class="col-sm-3 text-center">
		<h2><strong>Chose another Chart</strong></h2>
		<hr/>
		<br/>

		<a href='#' class='change_type' id='pie'><img src="{% static 'vitali/images/portfolio/pie.jpg' %}" /></a>
		<a href='#' class='change_type' id='column'><img src="{% static 'vitali/images/portfolio/bar.jpg' %}" /></a>
		<a href='#' class='change_type' id='line'><img src="{% static 'vitali/images/portfolio/line.jpg' %}" /></a>
	</div>


	
	<div class="row">
        <div class="col-lg-4 text-center divider">
          <a href="{% url 'sent_create' %}"><img src="{% static 'vitali/images/portfolio/back.jpg' %}" /></a>
        </div>
        <div class="col-lg-4 text-center divider">
          <a href="#details"><img src="{% static 'vitali/images/portfolio/details.jpg' %}" /></a>
       </div>
        
    </div>
</div>


	<br/><br/><br/>
    <div class="row">
        <div class="col-md-12 text-center">
             <h1> {{object.title}}</h1>
			 <hr/>
			  <br/>
        </div>
       <div class="col-md-12">
        <p class="lead">{{object.content}}</p>
       </div>
    </div>
</div>



<div class='container' id="details">
	<br/><br/>
  <div class="row">
		<div class="col-sm-9 text-center">
		<h2><strong>More Details...</strong></h2>
		<hr/>
		<br/>
		<div id="hc_container2" style="width:100%; height:400px;"></div>
	</div>
	<div class="col-sm-3 text-center">
		<h2><strong>Chose another Chart</strong></h2>
		<hr/>
		<br/>

		<a href='#' class='change_type2' id='pie'><img src="{% static 'vitali/images/portfolio/pie.jpg' %}" /></a>
		<a href='#' class='change_type2' id='bar'><img src="{% static 'vitali/images/portfolio/bar.jpg' %}" /></a>
		<a href='#' class='change_type2' id='line'><img src="{% static 'vitali/images/portfolio/line.jpg' %}" /></a>
	</div>
  </div>
  <br/><br/>
</div>

<div class='container'>
	<br/><br/>
  <div class="row">
		<div class="col-sm-9 text-center">
		<h2><strong>Top Frequent used Words without Stop Words:</strong></h2>
		<hr/>
		<br/>
		<div id="hc_container3" style="width:100%; height:400px;"></div>
	</div>
	<div class="col-sm-3 text-center">
		<h2><strong>Chose another Chart</strong></h2>
		<hr/>
		<br/>

		<a href='#' class='change_type3' id='pie'><img src="{% static 'vitali/images/portfolio/pie.jpg' %}" /></a>
		<a href='#' class='change_type3' id='column'><img src="{% static 'vitali/images/portfolio/bar.jpg' %}" /></a>
		<a href='#' class='change_type3' id='line'><img src="{% static 'vitali/images/portfolio/line.jpg' %}" /></a>
	</div>
  </div>
  <br/><br/><hr/>
  <div class="row">
	<div class="col-sm-12 text-center">
		<h1><strong>Sentiment Analysis using Machine Learning Techniques</strong></h1>
	</div>
	
	
	
	
		<h2 class="lead text-center divider"><strong>Sentiment Rating System</strong></h2>
		<hr/>
		  <p class="lead">This Table represents the rating system of the Sentiment Analysis. Five different Machine Learning Algorithms were trained
		  to predict the sentiment of the given Text. The Confidence of the Result is the average of all Algorithms.</p>                                                                                      
		  <div class="table-responsive">          
		  <table class="table lead">
			<thead>
			  <tr>
				<th>#</th>
				<th>Rating</th>
				<th>Results</th>
				
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td>1</td>
				<td><strong>5 Star Rating</strong></td>
				<td><img src="{% static 'vitali/images/portfolio/5star.jpg' %}" /></td>
				
			  </tr>
			  <tr>
				<td>2</td>
				<td>4 Star Rating</td>
				<td><img src="{% static 'vitali/images/portfolio/4star.jpg' %}" /></td>
				
			  </tr>
			  <tr>
				<td>3</td>
				<td>3 Star Rating</td>
				<td><img src="{% static 'vitali/images/portfolio/3star.jpg' %}" /></td>
				
			  </tr>
			  <tr>
				<td>4</td>
				<td>2 Star Rating</td>
				<td><img src="{% static 'vitali/images/portfolio/2star.jpg' %}" /></td>
				
			  </tr>
			  <tr>
				<td>5</td>
				<td>1 Star Rating</td>
				<td><img src="{% static 'vitali/images/portfolio/1star.jpg' %}" /></td>
				
			  </tr>
			    <tr>
				<td>6</td>
				<td>0 Star Rating</td>
				<td><img src="{% static 'vitali/images/portfolio/0star.jpg' %}" /></td>
				
			  </tr>
			</tbody>
		  </table>
  </div>
	  
	  
	  
	  
	  
	</div>
  <hr/>
</div>

{% endblock content %}

{% block javascript %}

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>

<script>
$(document).ready(function(){

	function changeType(chart, series, newType) {
		newType = newType.toLowerCase();
		for (var i = 0; i < series.length; i++ ) {
			series = series[0];
			try {
				series.chart.addSeries({
					type: newType,
					stack: series.stack,
					yaxis: series.yaxis,
					name: series.name,
					color: series.color,
					data: series.options.data
				},
				false
				)
				series.remove();
			} catch(e) {
				alert(newType & ": " & e);
			}
		}

	};

$(function () { 
    $('#hc_container').highcharts({
        title: {
            text: '{{object.title}}'
        },
        xAxis: {
            categories: ['{{word1}}', '{{word2}}', '{{word3}}', '{{word4}}', '{{word5}}'],
           showEmpty: false
        },
        yAxis: {
            showEmpty: false
        },
        series: [{
        	type: 'pie',
        	allowPointSelect: true,
        	data: [
        	['{{word1}}', {{num1}}],
        	['{{word2}}', {{num2}}],
        	['{{word3}}', {{num3}}],
        	['{{word4}}', {{num4}}],
        	['{{word5}}', {{num5}}],
        	],
        	showInLegend: true
        }]
    });
});



$('.change_type').click(function(e) {
	e.preventDefault();
	chartType = $(this).attr('id');
    var chart = $("#hc_container").highcharts();
	changeType(chart, chart.series, chartType)
	});
});

</script>




<script>
$(document).ready(function(){

	function changeType(chart, series, newType) {
		newType = newType.toLowerCase();
		for (var i = 0; i < series.length; i++ ) {
			series = series[0];
			try {
				series.chart.addSeries({
					type: newType,
					stack: series.stack,
					yaxis: series.yaxis,
					name: series.name,
					color: series.color,
					data: series.options.data
				},
				false
				)
				series.remove();
			} catch(e) {
				alert(newType & ": " & e);
			}
		}

	};

$(function () { 
    $('#hc_container2').highcharts({
        title: {
            text: '{{object.title}}'
        },
        xAxis: {
            categories: ['Stop Words', 'Total Words', 'Average Words in Sentence', 'Total Sentences', 'Ratio Total Words / Stop Words'],
           showEmpty: false
        },
        yAxis: {
            showEmpty: false
        },
        series: [{
        	type: 'bar',
        	allowPointSelect: true,
        	data: [
        	['Stop Words', {{stopWords}}],
        	['Total Words', {{totalWords}}],
        	['Average Words in Sentence', {{averageWPS}}],
        	['Total Sentences', {{totalSentences}}],
        	['Ratio Total Words / Stop Words', {{ratioWS}}],
        	],
        	showInLegend: true
        }]
    });
});



$('.change_type2').click(function(e) {
	e.preventDefault();
	chartType = $(this).attr('id');
    var chart = $("#hc_container2").highcharts();
	changeType(chart, chart.series, chartType)
	});
});

</script>



<script>
$(document).ready(function(){

	function changeType(chart, series, newType) {
		newType = newType.toLowerCase();
		for (var i = 0; i < series.length; i++ ) {
			series = series[0];
			try {
				series.chart.addSeries({
					type: newType,
					stack: series.stack,
					yaxis: series.yaxis,
					name: series.name,
					color: series.color,
					data: series.options.data
				},
				false
				)
				series.remove();
			} catch(e) {
				alert(newType & ": " & e);
			}
		}

	};

$(function () { 
    $('#hc_container3').highcharts({
        title: {
            text: '{{object.title}}'
        },
        xAxis: {
            categories: ['{{wC1}}', '{{wC2}}', '{{wC3}}', '{{wC4}}', '{{wC5}}'],
           showEmpty: false
        },
        yAxis: {
            showEmpty: false
        },
        series: [{
        	type: 'pie',
        	allowPointSelect: true,
        	data: [
        	['{{wC1}}', {{nC1}}],
        	['{{wC2}}', {{nC2}}],
        	['{{wC3}}', {{nC3}}],
        	['{{wC4}}', {{nC4}}],
        	['{{wC5}}', {{nC5}}],
        	],
        	showInLegend: true
        }]
    });
});



$('.change_type3').click(function(e) {
	e.preventDefault();
	chartType = $(this).attr('id');
    var chart = $("#hc_container3").highcharts();
	changeType(chart, chart.series, chartType)
	});
});

</script>




{% endblock javascript %}